<li>
    <img src="{{image}}" alt="{{name}}">
    <h3>{{name}}</h3>
    <p><span>Price: </span>{{price}}$</p>
    <p><span>Breed: </span>{{breed}}</p>
    <p><span>Description: </span>{{description}}</p>
    <ul class="buttons">
        {{#if isHomePage}}
            <li class="btn details"><a href="/cats/{{_id}}/details">Details</a></li>
        {{else}}
            {{#if isCreator}}
                <li class="btn edit"><a href="/cats/{{_id}}/change-info">Change Info</a></li>
                <li class="btn delete"><a href="/cats/{{_id}}/new-home">New Home</a></li>
            {{/if}}
        {{/if}}
    </ul>
</li>